.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  border: 2px solid black;
  margin: auto;
  width: 50%;
  background-color: hsl(0, 0%, 90%);
  padding: 10px;
  transition: background-color 300ms;
}
.rgb {
  color: white;
  text-align: center;
  font-size: 30px;
}
.rgbToHex {
  color: white;
  text-align: center;
  font-size: 30px;
}
.cards {
  float: left;
  margin: auto;
  padding: 75px;
}

.cards #cardLogo {
  float: right;
}